# Virtual Environments
venv/
.venv/
lvenv/
git.venv/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/

# Environment variables & secrets
.env
hyperparameters/tokens.csv
winven
# Virtual environments
lvenv/
winven/
venv/
*.venv/

# Large model/data files
*.keras
*.h5
*.pth
*.npy
*.exe

# Large text/data dumps
tokens.txt
all_code.txt
token_ids.npy